html{
    background-color: turquoise;
}
P{
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
background-repeat: no-repeat;
background-size: 80%;
animation: shine 6s linear infinite;
position: relative;
text-align: center;
font-size: 30px;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
padding-top: 101px;
}
@keyframes shine {
0% {
background-position-x:-500%;
}
100%{ 
background-position-x: 500%;
}
}
